<header class="clearfix site-header">
  <div class="l-constrained">
    <h1 class="site-logo">
      <a href="/">
        <img src="assets/images/plaqueit-logo.png" alt="PlaqueIt" />
      </a>
    </h1>
    <ul class="site-navigation clearfix">
      <li><a href="/server-side">Server Side</a></li>
      <li><a href="/data">Data</a></li>
      <li><a href="/technical-report">Technical Report</a></li>
      <li><a href="/appendix">Appendix</a></li>
    </ul>
  </div>
</header>
