/* ==========================================================================
   Border-box all the things!
   ========================================================================== */
*,
:before,
:after {
  box-sizing: border-box;
}

/* ==========================================================================
   Layout
   ========================================================================== */

html,
body {
  height: 100%;
}

[id=content] {
}

.l-constrained {
  // max-width: $pageWidth;
  margin: 0 3%;
  @media screen and (min-width: 720px) {
    margin: 0 1.5%;
  }
}
